h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #1E0E62;
}

.contact-link {
  display: block;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  background: linear-gradient(to right, #00C0FD, #E70FAA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-section p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #666666;
}

